/* @import "streamControlBar"; */

.grid-item-border {
  @apply rounded border-2 border-blue-500 border-dashed;
}

.user-grid-item {
  @apply shadow rounded-lg border;
  height: 250px;
  width: 250px;
}

.screen-grid-item {
  height: 315px;
  width: 500px;
}

.screen-grid-item-lg {
  grid-column: span 2;
  width: 100% !important;
  height: calc(100vh - 196px);
  min-width: 500px;
}
