.video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 700px;

  video {
    @apply rounded border-blue-300 bg-red-300;

    margin: 20px;
    padding-left: 10px;
    background-color: wheat;
    width: 100%;
    height: 100%;
  }
}
