@tailwind base;
@tailwind components;
@tailwind utilities;

@import "lib/colors.scss";
@import "lib/input.scss";
@import "lib/button.scss";
@import "lib/borders.scss";

// Non-Page Specfic
@import "display";
@import "card";
@import "sidebar";
@import "modal";
@import "tooltip";
@import "toast";

body {
  height: 100vh;
  color: #ffffff;
  background-color: #1e1e24;
  font-family: sans-serif;
}
