@tailwind base;
@tailwind components;
@tailwind utilities;

@import "lib/colors.scss";
@import "lib/input.scss";
@import "lib/button.scss";
@import "lib/borders.scss";

// Page Specfic
@import "display";
@import "card";
@import "sidebar";

body {
  height: 100vh;
  color: #ffffff;
  background-color: #636378;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50 w-max rounded shadow-lg p-1 bg-gray-100 text-black -mt-8;
  user-select: none;
}
