$waveBorderRadius: 120px;

.sidebar {
  @apply rounded;
  background-color: $sidebarPrimaryColor;
  height: 100%;
}

.sidebar-icon-container {
  max-width: 58px;
}

.sidebar-content {
  @apply rounded;
  @apply pl-8 pt-14 pr-4 placeholder-indigo-100;
  // width: 100%;
  width: 240px;
  background-color: $sidebarSecondaryColor;
  border-top-left-radius: 0px;
}

.sidebar-icon {
  @apply mr-4 mt-10 cursor-pointer;
  min-height: 24px;
  min-width: 24px;
  color: $sidebarSecondaryColor;

  &.active {
    color: white;
  }
}

.sidebar-wave {
  position: relative;
  user-select: none;

  .sidebar-wave-svg {
    display: flex;
    align-items: center;
    top: -35px;
    left: 1px;
    height: 38px;
    width: 92px;
    transform: rotate(280deg);
    position: absolute;

    path {
      @apply shadow-lg;
    }
  }

  .sidebar-wave-icon {
    position: absolute;
    top: -19px;
    left: 48px;
    height: 6px;
    width: 6px;
    z-index: 200;
  }
}
