$waveBorderRadius: 120px;

.sidebar {
  background-color: $sidebarPrimaryColor;
  border-left: 5px solid $sidebarPrimaryColor;
  border-top-left-radius: 25px;
  height: 100%;
}

.sidebar-icon-container {
  max-width: 58px;
}

.sidebar-content {
  @apply pl-10 pt-14 placeholder-indigo-100;
  width: 100%;
  min-width: 200px;
  background-color: $sidebarSecondaryColor;
}

.sidebar-icon {
  @apply mr-4 mt-10 cursor-pointer;
  min-height: 24px;
  min-width: 24px;
  color: $sidebarSecondaryColor;

  &.active {
    color: white;
  }
}

.sidebar-wave {
  position: relative;

  .sidebar-wave-svg {
    display: flex;
    align-items: center;
    top: -126px;
    left: 31px;
    height: 200px;
    width: 200px;
    transform: rotate(280deg);
    padding-left: 30px;
    position: absolute;

    path {
      @apply shadow-lg;
    }
  }

  .sidebar-wave-icon {
    position: absolute;
    top: -19px;
    left: 48px;
    height: 6px;
    width: 6px;
    z-index: 200;
  }
}
